*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color:#f8fafb;
}
body > div{
    margin: auto;
}
.toast{
    width: 400px;
    height: 80px;
    border-left:4px solid;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* transform: translateX(calc(100% + 32px)); */
    /* animation: moveIn 0.5s ease, fadeOut 1s linear 3s forwards; */
    transition: all linear 0.5s;
}
@keyframes moveIn{
    from{
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fadeOut{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.toast__content{
    flex: 4;
    line-height: 1.5;
}
.toast__icon{
    flex: 1;
    font-size: 30px;
    
}
.toast__close{
    flex: 1;
    cursor: pointer;
    /* border-left: 2px solid #333; */
}
.toast--success{
    /* background-color: rgba(0, 255, 0, 0.3); */
    border-color: #47d864;
}
.toast__content__title{
    color: #333;
    font-weight: 700;
}
.toast__content__mes{
    color: #333;
}
.toast--success .toast__icon {
    color: #47d864;
  }
.toast--info{
    /* background-color: rgba(0, 0, 255, 0.4); */
    border-color: #2f86eb;
}
.toast--info .toast__icon {
    color: #2f86eb;
  }
.toast--warn{
    /* background-color: rgba(255, 255, 0, 0.5); */
    border-color:#ffc021;
}
.toast--warn .toast__icon {
    color: #ffc021;
  }
.toast--error{
    /* background-color: rgba(255, 0, 0, 0.8); */
    border-color: #ff623d;
}
.toast--error .toast__icon {
    color: #ff623d;
  }
#toast{
    position: fixed;
    top: 32px;
    right: 32px;
}
/* Button */
#block-btn{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 150px;
    left: 25px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    min-width: 120px;
    user-select: none;
    transition: opacity .2s ease, active .2s ease;/*Hover, active effect*/
    text-align:  center;
}
.btn:hover{/*Hover effect*/
    opacity: 0.7;
}
.btn:active{/*Active effect*/
    opacity: 1;
}
.btn + .btn {
    margin-top: 16px;
}
.btn--success{
background-color: green;
}
.btn--info{
    background-color: blue;
}
.btn--warn{
    background-color: orange;
}
.btn--error{
    background-color: red;
}
.btn--disable{
    opacity: 0.5 !important;/*Do uu tien cao nhat*/
    cursor: default;
}
.btn--size-s{
    padding: 8px 32px;
}
.btn--size-l{
padding: 16px 52px;
}