* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ccc;
}

.nav{
    background-color: #ef5122;
    display: flex;
    padding: 0 10px;
    min-height: 42px;
    justify-content: space-between;
}
.nav-list{  
    padding-left: 0;
    margin: auto 10px;
}

.nav-item{
    color: white;
    list-style: none;
    display: inline-block;
    margin: 0px 8px;
    font-size: 16px;
    font-weight: 700;
}
/* form */
.form-container{
    background-color: white;
    max-width: 500px;
    margin: 30px auto 0 auto;
    padding: 20px;
}
.form__row{
    display: inline-flex;
    padding: 8px 0;
}
.form__label{
    min-width: 80px;
}
.form__input{
    flex-grow: 1;
}

/* Column layout */
.column-layout{
    background-color: white;
    margin-top: 50px;
    padding: 12px 0px;
    display: flex;
    flex-direction: row;
}
.column-item{
    padding: 0px 16px;
    line-height: 1.5;
    flex: 1;
}
.sidebar-one{
    flex: 1;
}
.main-column{
   flex: 3;/*Gap 3lan fex 1 cua .column-item */
}
.sidebar-two{
    flex: 1;
}
/* Feature layout */
.feature-layout{
 padding: 12px 0px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}
.feature-item{
 padding: 12px 16px;
 margin: 14px;
 /* flex:1; */
 flex-basis: 30%;
}
.feature-item:nth-child(1) {
    background-color: rgb(192, 227, 222);
}
.feature-item:nth-child(2) {
    background-color: rgb(128, 146, 173);
}
.feature-item:nth-child(3) {
    background-color: rgb(197, 231, 71);
}

/* wrap-layout */
.wrap-layout{
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.wrap-layout__item{
 background-color: #EF5122;
 width: 100px;
 height: 100px;
 font-size: 40px;
 font-weight: 700;
 margin: 20px 10px;
 text-align: center;
 line-height: 90px;
 color: white;

}
/* Center layout */
.center-layout{
    width: 500px;
    height: 300px;
    background-color: blue;
    margin: 36px auto 36px auto;
    display: flex;
    
}
.center-layout__item{
    font-size: 40px;
    font-weight: 700;
    margin: auto;
    color: white;
}
/* Chart */
.chart-layout{
    background-color: white;
    height: 320px;
    margin: 20px auto;
    padding: 20px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}
.chart-layout__item{
    background-color: red;
    width: 80px;
    height: var(--percent);
    margin: 10px;
    color: white;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}
/*End*/
.the-end{
    padding: 20px 0;
    margin: auto;
    max-width: 740px;
    min-height: 360px;
    display: flex;
    flex-direction: row;
}
.the-end__first{
    margin: 10px;
    flex-basis: 50%;
}
.the-end__second{
    background-color: violet;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.the-end__second-one{
    padding: 4px 16px;
}
.the-end__second-two{
    background-color: rgb(235, 232, 98);
    padding: 4px 16px;
}